<div class="page">
  <h2 class="title">Configuration de la Bannière</h2>

  <div class="banner-images">
    <h3>Images de la Bannière</h3>
    <ul>
      <li *ngFor="let image of bannerImages; let i = index">
        <img [src]="image" alt="Image {{i + 1}}" />
        <div class="button-container">
          <button (click)="moveUp(i)" [disabled]="i === 0">↑</button>
          <button (click)="moveDown(i)" [disabled]="i === bannerImages.length - 1">↓</button>
        </div>
        <button (click)="removeImage(i)" class="delete-button">Supprimer</button>
      </li>
    </ul>
 
  </div>
  <div class="add-image-container">
    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
    <label class="add-image-button" (click)="fileInput.click()">Ajouter une Image</label>
  </div>

  <div class="save-button-container">
    <button class="save-button" (click)="uploadImages()" [ngClass]="{'disabled-button': !hasChanges}">Sauvegarder les modifications</button>
  </div>
</div>
