.page {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  .banner-images {
    margin-top: 20px;
  }
  
  .banner-images h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .banner-images ul {
    list-style: none;
    padding: 0;
  }
  
  .banner-images li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .banner-images img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-container button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #ccc;
  }
  
  .delete-button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .save-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .save-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .save-button:hover {
    background-color: #2980b9;
  }
  

  .add-image-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-image-button:hover {
    background-color: #45a049;
  }

  .disabled-button {
    opacity: 0.6; /* Opacité réduite pour indiquer que le bouton est désactivé */
    pointer-events: none; /* Désactiver les interactions utilisateur */
    cursor: not-allowed; /* Curseur indiquant que le bouton n'est pas cliquable */
  }
  