<!-- contact.component.html -->

<div class="contact-container">
    <h1>Contactez-nous</h1>
    <p class="description">
        Notre petit élevage de British Shorthair est situé en seine et marne à 20 minutes de l'Aéroport de Paris-Charles de Gaulle,
        <br>
        Si vous désirez venir en transport pour faciliter les correspondances, nous pouvons vous apporter
        le chaton à la gare de roissy ou de saint mard. 
        <br>
        Il existe aussi des taxis animaliers si vous habitez trop loin.
    </p>

    <div class="contact-details">
        <p>Tél : 06 19 67 09 34</p>
        <p>Entre 10h et 18h tous les jours, fermé le samedi - Je ne réponds pas aux appels masqués</p>
        <p>Email : <a href="mailto:chatterie.british.kingdom@gmail.com">chatterie.british.kingdom@gmail.com</a></p>
    </div>

    <form class="contact-form">
        <input type="text" id="name" name="name" placeholder="Nom" required>

        <input type="email" id="email" name="email" placeholder="Email" required>


        <input type="text" id="subject" name="subject" placeholder="Sujet" required>

        <textarea id="message" name="message" rows="4" placeholder="Message" required></textarea>


        <button mat-raised-button color="primary">Envoyer</button>

    </form>
</div>

<div class="address-container">
    <h2>Où sommes-nous ?</h2>
    <p>
      Distances :
      Paris : 30min en voiture
    </p>
    <p>12 bis rue des Suisses, 77280 Othis</p>
    <!-- Insérer la carte Google Maps ici -->
    <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10467.245783906744!2d2.701150215406666!3d48.98682065977611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6141bf147c4c5%3A0x2496fcb3909e04e!2s12%20Bis%20Rue%20des%20Suisses%2C%2077280%20Othis!5e0!3m2!1sen!2sfr!4v1628507761411!5m2!1sen!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>  
<br>
<br>
</div>