<footer>
    <div class="footer-container">
      <p>Chatterie British kingdom</p>
      <p>Département 77, région Seine et marne</p>
      <p>Élevage familial déclaré, N°SIRET : 84432325300014</p>
      <p>Adhérent SNPCC - N°de capacité 2009/37/07</p>
      <p>Mentions légales - Politique de confidentialité - Politique des cookies</p>
      <div class="social-icons">
        <!-- Insérez ici les icônes des réseaux sociaux -->
      </div>
      <div class="contact-icons">
        <!-- Insérez ici les icônes pour le mail et la map -->
      </div>
    </div>
  </footer>
  