/* footer.component.css */

footer {
    background-color: #58879B;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-container p {
    margin: 5px 0;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  .contact-icons {
    margin-top: 20px;
  }
  
  .contact-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  