<nav class="navUser" [ngStyle]="getDynamicStyles()">
  <a routerLink="/" class="brand">
    <img src="assets/logo.png" alt="Logo Chatterie British Kingdom">
    <span>British Kingdom</span>
  </a>

  <button type="button" class="mobile-menu-button" (click)="toggleMobileMenu()" [attr.aria-expanded]="menuOpen"
    aria-label="Ouvrir le menu">
    <mat-icon style="font-size: 22px;">{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
    <span>Menu</span>
  </button>

  <ul [class.open]="menuOpen">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.path" [style.color]="colorMenu" (click)="menuOpen = false">
        {{ item.label }}
      </a>
    </li>
  </ul>
</nav>


