<div class="conditions-container" >
    <h1>Conditions d'Adoption</h1>

    <section class="questions-section" id="conditions">
        <h2>Les questions à se poser avant d'adopter un chat</h2>
        <p>
            Avant d'adopter un chat, il est essentiel de se poser certaines questions. Vous devez prendre en compte
            votre style de vie,
            votre disponibilité, et votre capacité à prendre soin d'un animal de compagnie. Un chat peut vivre de
            nombreuses années,
            alors assurez-vous que vous êtes prêt pour cet engagement.
        </p>
        <p>
            - Avez-vous suffisamment d'espace pour un chat ?
            - Êtes-vous prêt à investir du temps dans les soins et l'attention dont un chat a besoin ?
            - Avez-vous d'autres animaux de compagnie à la maison ?
            - Êtes-vous prêt à prendre en charge les frais de vétérinaire et les dépenses associées à un chat ?
            - Êtes-vous conscient de l'engagement à long terme que représente l'adoption d'un chat ?
        </p>

        <p>Adopter un chat est une décision importante qui devrait être mûrement réfléchie. Voici quelques questions
            essentielles à prendre en compte :</p>
        <ul>
            <li><strong>Le caractère :</strong> Chaque chat a son propre caractère. Certains sont plus indépendants,
                tandis que d'autres sont très affectueux. Avant d'adopter, réfléchissez à quel type de comportement vous
                préférez.</li>
            <li><strong>Les poils :</strong> Les chats peuvent avoir des poils longs ou courts, et certains perdent plus
                de poils que d'autres. Si vous ou un membre de votre famille êtes allergique aux poils d'animaux, prenez
                cela en compte.</li>
            <li><strong>Les frais à prévoir :</strong> Adopter un chat implique des frais, y compris les vaccins, la
                stérilisation ou la castration, la nourriture, la litière, les soins vétérinaires, etc. Assurez-vous de
                disposer du budget nécessaire pour prendre soin de votre chat.</li>
            <li><strong>Le temps :</strong> Les chats demandent du temps et de l'attention. Ils aiment jouer, être
                câlinés et nécessitent des soins réguliers. Assurez-vous d'avoir du temps à consacrer à votre chat.</li>
            <li><strong>L'espace :</strong> Votre logement est-il adapté pour un chat ? Assurez-vous que votre chat aura
                suffisamment d'espace pour se déplacer et explorer.</li>
            <li><strong>Les autres animaux :</strong> Si vous avez d'autres animaux de compagnie, réfléchissez à la
                façon dont ils réagiront à l'arrivée d'un chat. Assurez-vous que votre chat s'entendra avec les autres
                membres de la famille à quatre pattes.</li>
        </ul>
        <p>Prendre le temps de réfléchir à ces questions vous aidera à prendre la meilleure décision pour vous et votre
            futur compagnon félin.</p>
    </section>

    <section class="visites-section">
        <h2>Les visites</h2>
        <p>
            Pour garantir le bien-être de nos chatons, nous encourageons les visites pré-adoptions.
            Cela vous permettra de rencontrer les chatons, de poser des questions et de voir où ils ont grandi.
            Nous serons heureux de vous montrer nos installations et de discuter de nos pratiques d'élevage.
        </p>
        <p>
            - Les visites sont sur rendez-vous uniquement.
            - Posez toutes les questions que vous avez en tête concernant le chaton.
            - Si vous décidez d'adopter, nous vous guiderons à travers le processus d'adoption.
        </p>
    </section>
    <section class="depart-section">
        <h2>Le départ du chaton</h2>
        <p>
            Lorsque vous adoptez l'un de nos chatons, il partira avec tout ce dont il a besoin pour un bon départ dans
            sa nouvelle maison. Nos chatons sont LOOF (Livre Officiel des Origines Félines) et sont livrés avec le certificat correspondant.
            Cela comprend une puce d'identification, des vaccinations à jour, un carnet de santé, de la nourriture,
            et même un peu de litière pour les premiers jours. Nous nous assurons que le processus d'adoption est aussi
            simple que possible.
        </p>
        <p>
            - Un chaton est généralement prêt à partir à l'âge de 12 semaines.
            - Il sera identifié par puce électronique pour une identification permanente.
            - Tous les chatons auront reçu leurs premières vaccinations.
            - Vous recevrez un carnet de santé avec toutes les informations sur la santé du chaton.
            - Nous vous fournirons de la nourriture pour la première semaine.
        </p>
    </section>
    
    
    <section class="conditions-section">
        <h2>Autres Conditions d'Adoption</h2>
        <p>Nous proposons des chatons à des propriétaires aimants et responsables. Voici nos conditions d'adoption :</p>
        <ul>
            <li>Nous préférons que les chatons vivent en tant qu'animaux de compagnie à l'intérieur.</li>
            <li>Tous nos chatons sont stérilisés avant leur départ.</li>
            <li>Le prix d'adoption est de 1300 euros pour les animaux de compagnie.</li>
            <li>Une réservation de 400 euros est requise pour garantir votre adoption.</li>
            <li>Pour les éleveurs, le prix d'adoption est de 1800 euros.</li>
            <li>Nous offrons un suivi continu et des conseils pour les propriétaires de chatons.</li>
            <li>En cas de problème ou de questions, n'hésitez pas à nous contacter.</li>
        </ul>
    </section>
    

    <section class="preparation-section" id="preparer-son-arrivee">
        <h2>Préparer son Arrivée</h2>
        <p>Accueillir un chaton dans votre maison est une expérience excitante. Avant son arrivée, assurez-vous de créer un environnement sûr et confortable pour votre nouveau compagnon. Voici quelques étapes à suivre :</p>
        <ol>
            <li><strong>Mettez en place une litière :</strong> Préparez une litière propre et assurez-vous qu'elle est facilement accessible pour le chaton. Les chatons ont besoin de litière dès leur arrivée.</li>
            <li><strong>Préparez de la nourriture :</strong> Procurez-vous de la nourriture de haute qualité adaptée à l'âge du chaton. Demandez-nous des recommandations si nécessaire.</li>
            <li><strong>Créez un espace sûr :</strong> Éliminez les dangers potentiels de la maison. Assurez-vous que les produits chimiques, les fils électriques et les objets dangereux sont hors de portée du chaton.</li>
            <li><strong>Offrez de l'amour et de l'attention :</strong> Les chatons ont besoin d'affection et d'interaction. Préparez-vous à passer du temps à jouer et à câliner votre nouveau chaton.</li>
            <li><strong>Consultez un vétérinaire :</strong> Planifiez une visite chez le vétérinaire pour un examen de santé initial et discutez du calendrier de vaccination recommandé.</li>
        </ol>
        <p>Préparer son arrivée garantit une transition en douceur pour votre chaton et une relation heureuse pour vous deux.</p>
    </section>
    
</div>