h1 {
  margin-top: 40px;
  text-align: center;
}

h2 {
  text-align: center;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ddd;
  transition: background-color 0.3s ease;
  display: block; /* Ajout d'un affichage en bloc pour faciliter la manipulation */
}

nav ul li a:hover {
  background-color: #bbb;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 767px) {
  h1 {
      margin-top: 20px;
  }

  h2 {
      margin-top: 10px;
  }

  nav ul {
      flex-direction: column; /* Affichage en colonne pour les petites tailles */
      align-items: center; /* Centrer les éléments */
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  nav ul li:last-child {
      margin-bottom: 0;
  }
}
