
<div class="content-container" *ngIf="isAdminRoute">
  <router-outlet></router-outlet>
</div>

<div class="content-container" *ngIf="!isAdminRoute">
  <div class="titlePage" *ngIf="!isHomeRoute" [ngStyle]="getDynamicStyles('colorHeader')">
  <h1 [ngStyle]="getDynamicStyles('title')">{{data?.title}}</h1>
  <h2 [ngStyle]="getDynamicStyles('subtitle')">{{data?.subtitle}}</h2>
</div>
  <header [ngStyle]="{'margin-top.px':  20, 'margin-bottom.px':  20}">
    <app-header-user></app-header-user>
    </header>
  <router-outlet></router-outlet>
  <div class="content-container">
    <router-outlet></router-outlet>
<app-footer></app-footer>
</div>