<div class="container">

    <div class="form-container">

        <a routerLink="/admin/meschats" class="back-link">
            <mat-icon aria-hidden="false" aria-label="Example home icon"  color="primary" fontIcon="arrow_back"></mat-icon>
        </a>
        </div>
    <h1>Edition Chat</h1>

    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
        <div class="form-container">

            <div class="profile-section">
                <div class="circle-upload">
                    <div class="image-upload-wrapper">
                        <!-- Bloc pour uploader l'image -->
                        <input id="UrlProfil" type="file" formControlName="urlProfil" class="custom-file-input"
                            (change)="onFileChange($event, 'profile') ">
                        <!-- Bloc pour afficher l'image -->
                        <div class="image-preview-avatar" *ngIf="profilePhoto; else uploadText"
                        [style.backgroundImage]="'url('+ profilePhoto +')'"
                        >
                        
                        </div>
                        <!-- Bloc pour le texte d'upload -->
                        <ng-template #uploadText>
                            <div class="upload-text">Cliquez ici pour télécharger l'avatar</div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- Ligne 1 -->
            <div class="form-row">
                <!-- Nom -->
                <mat-form-field class="form-field">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" placeholder="Nom du chat">
                </mat-form-field>
                <!-- Date de Naissance -->
                <mat-form-field class="form-field">
                    <mat-label>Date de Naissance</mat-label>
                    <input matInput type="date" formControlName="dateOfBirth">
                </mat-form-field>


            </div>

            <!-- Ligne 2 -->
            <div class="form-row">

                <!-- Race du chat -->


                <mat-form-field class="form-field">
                    <mat-label>Race</mat-label>
                    <input type="text" matInput formControlName="breed" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let race of filteredRaces | async" [value]="race">
                            {{race}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Sexe -->
                <mat-form-field class="form-field">
                    <mat-label>Sexe</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option value="male">Mâle</mat-option>
                        <mat-option value="female">Femelle</mat-option>
                    </mat-select>
                </mat-form-field>



            </div>

            <!-- Ligne 3 -->
            <div class="form-row">
                <!-- Type de Poil -->
                <mat-form-field class="form-field">
                    <mat-label>Motifs</mat-label>
                    <input matInput formControlName="robe" placeholder="ex: Shaded">
                </mat-form-field>

                <!-- Couleur -->
            <!--     <mat-form-field class="form-field">
                    <mat-label>Couleur</mat-label>
                    <input matInput formControlName="color" placeholder="ex: Cream">
                </mat-form-field> -->

            </div>
            <div class="form-row">
                <mat-form-field class="form-field">
                    <mat-label>Saillies extérieures</mat-label>
                    <mat-select formControlName="sailliesExterieures">
                        <mat-option value="oui">Oui</mat-option>
                        <mat-option value="non">Non</mat-option>
                    </mat-select>
                    <!-- <input matInput formControlName="sailliesExterieures" placeholder="Saillies extérieures"> -->
                </mat-form-field>

                <!-- Type de Poil -->
                <mat-form-field class="form-field">
                    <mat-label>Couleurs des yeux</mat-label>
                    <input matInput formControlName="eyeColor" placeholder="ex:Bleu">
                </mat-form-field>
            </div>

            <!-- Ligne 4 -->
            <!-- Photo de la mère -->

            <div class="form-row">
                <div class="image-uploader">
                    <label for="UrlProfilMother">Photo de la mère</label>

                    <div class="image-preview" [style.backgroundImage]="motherPhoto ? 'url(' + motherPhoto + ')' : ''">
                        <input id="UrlProfilMother" type="file" formControlName="urlProfilMother"
                            class="image-preview-input" (change)="onFileChange($event, 'mother')">
                        <div class="image-preview-text" *ngIf="!motherPhotoFile && !motherPhoto ">Cliquez ici pour télécharger
                        </div>
                    </div>
                </div>
                <!-- Photo du père -->
                <div class="image-uploader">
                    <label for="UrlProfilFather">Photo du père</label>
                    <div class="image-preview" [style.backgroundImage]="fatherPhoto ? 'url(' + fatherPhoto + ')' : ''">
                        <input id="UrlProfilFather" type="file" formControlName="urlProfilFather"
                            class="image-preview-input" (change)="onFileChange($event, 'father')">
                        <div class="image-preview-text" *ngIf="!fatherPhotoFile && !fatherPhoto ">Cliquez ici pour télécharger
                        </div>
                    </div>
                </div>

            </div>
            <!-- Zone d'upload d'image -->
            <div class="image-uploader">
                <label for="Images">Photos de votre chat</label>
                <div class="upload-zone">
                    <input id="Images" type="file" formControlName="images" class="custom-file-input"
                        #fileInput (change)="onMultipleFileChange($event)" style="display:none;">
                    <div *ngIf="otherPhotos.length < 12" (click)="fileInput.click()">
                        <span>Cliquez ici pour uploader jusqu'à 12 photos de votre chat</span>
                    </div>
                </div>

                <!-- Affichage des images -->
                <div class="uploaded-images" cdkDropList (cdkDropListDropped)="onDrop($event)">
                    <div class="image-container" *ngFor="let photo of otherPhotos; let i = index" cdkDrag>
                        <img [src]="photo" alt="Uploaded Image" />
                        <span class="material-icons delete-icon" (click)="removeImage(i)">delete</span>
                    </div>
                </div>


                <!-- Bouton de soumission -->
                <button mat-raised-button color="primary" type="submit" [disabled]="!updateValid">Mise à jour</button>
            </div>


        </div>
    </form>
</div>