
  
  <div class="main-container" *ngIf="showHeader">
    <nav class="navAdmin">
        <ul>
            <li (click)="toggleItem('site')">
              <div class="menu-item">
                <mat-icon>desktop_mac</mat-icon>
                <a routerLink="/admin">MON SITE WEB</a>
              </div>
              <ul *ngIf="openItem === 'site'">
                <li><a routerLink="/sousroute1">Sous-partie 1</a></li>
                <li><a routerLink="/sousroute2">Sous-partie 2</a></li>
              </ul>
            </li>
            <li (click)="toggleItem('elevage')">
              <div class="menu-item">
                <mat-icon>pets</mat-icon>
                <a routerLink="/admin">MON ELEVAGE</a>
              </div>
              <ul *ngIf="openItem === 'elevage'">
                <li><a routerLink="/admin/meschats">Mes chats</a></li>
                <li><a routerLink="/sousroute4">Sous-partie 4</a></li>
              </ul>
            </li>
            <li (click)="toggleItem('compte')">
              <div class="menu-item">
                <mat-icon>account_circle</mat-icon>
                <a routerLink="/femelles">MON COMPTE</a>
              </div>
              <ul *ngIf="openItem === 'compte'">
                <li><a routerLink="/sousroute5">Sous-partie 5</a></li>
                <li><a routerLink="/sousroute6">Sous-partie 6</a></li>
              </ul>
            </li>
          </ul>
    </nav>
 
  </div>
  