.navAdmin ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navAdmin li {
    padding: 10px 0;
    text-align: center;
}

.navAdmin a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s;
}

.navAdmin a:hover {
    background-color: #444;
}


.page-container {
    display: flex;
}

.navAdmin {

    top: 0;
    width: 200px;
    /* background-color: #333; */
    border-bottom: 1px solid #ccc;
    background-color: #a3a3a3;
    /* padding-top: 50px; */
    flex-direction: column;
    align-items: flex-start;
}


.main-container {
    display: flex;
    height: 100vh;

}


.navAdmin ul ul {
    list-style-type: none;
    margin-left: 30px;
    padding-left: 0;
  }



  mat-icon {
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
  }
  