<!-- <h2 class="title">Prosperddddddddddddd british shorthair</h2>

<div class="container">
  <div class="left-part">
    <img [src]="prosper" class="photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(prosper)">

  </div>
  <div class="right-part">
    <p class="text">
      <span class="text-title">BRITISH SHORTHAIR BLEU</span> <br>
      Née le 28/05/2019 en Russie<br>
      Groupe sanguin B<br>
      Porte le gène longhair<br>
      Tests PKD et FIV-FeLV négatifs<br>
      Calicivirus : négatif<br>
      Echographie cardiaque : normale – CMH négatif
    </p>
    <div class="buttons">
      <button class="gray-button" (click)="scrollToBottom()">Photo</button>
      <button class="gray-button">Pedigree</button>
    </div>
<br>

    <div class="divider"><br></div>
<br>
    
    <p class="section-title">Les parents</p>
    <div class="parent-photos">
      <img [src]="maman" class="small-photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(maman)">
      <img [src]="papa" class="small-photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(papa)">
    </div>
  </div>
</div>


<br>

<div class="photo-list">
  <div class="row">
    <div class="photo-item">
      <img [src]="prosper1" class="photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(prosper1)">
    </div>
    <div class="photo-item">
      <img [src]="prosper4" class="photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(prosper4)">
    </div>
    <div class="photo-item">
      <img [src]="prosper5" class="photo" alt="Photo de Prosper" alt="Photo" (click)="openImageDialog(prosper5)">
    </div>
  </div>
  <div class="row">
    <div class="photo-item-tall">
      <img [src]="prosper2" class="photo" alt="Photo de Prosper" (click)="openImageDialog(prosper2)">
    </div>

    <div class="photo-item-tall">
      <img [src]="prosper3" class="photo" alt="Photo de Prosper" (click)="openImageDialog(prosper3)">
    </div>
    <div class="photo-item-tall">
      <img [src]="prosper6" class="photo" alt="Photo de Prosper" (click)="openImageDialog(prosper6)">
    </div>
  </div> -->