<br>
<br>

<div class="image-container">
    <div [ngClass]="getGridClass(cats.length)">
        <div *ngFor="let cat of cats">
            <p class="name">{{ cat.name }}</p>
            <p class="name">Couleur: {{ cat.robe }}</p>
            <img [src]="url.apiUrlImgProfilCat + cat.urlProfil"  #roundedImage (load)="onImageLoad()" class="rounded-image"
                (click)="redirectToNewUrl(cat.id, cat)">
        </div>
    </div>
</div>
<br>
<br>

<hr class="gray-line" [ngStyle]="dynamicStyles.borderColor">

<div class="description">
    <h3 [ngStyle]="dynamicStyles.title">{{banner.titlePageFemelles}}</h3>
    <p [ngStyle]="dynamicStyles.text">{{banner.textPageFemelles}}</p>

    </div>
    <hr class="gray-line" [ngStyle]="dynamicStyles.borderColor">
    <br>
    <br>
    <br>