<br>
<br>
<div class="image-container">
    <div class="image-grid">
        <div>
            <p class="name">Prosper</p>
            <p class="name">Couleur: seal chinchilla point</p>
            <img src="assets/prosperProfil.jpg" class="rounded-image" (click)="redirectToNewUrl('prosper')">
          </div>
        <div>
            <p class=" name">Fripouille</p>
            <p class="name">Couleur: black silver shaded</p>
            <img src="assets/fripouilleProfil.jpg" class="rounded-image" (click)="redirectToNewUrl('fripouille')">
        </div>
    </div>

</div>
<br>
<br>


<hr class="gray-line">

<div class="description">
    <h3>À propos de nos mâles reproducteurs</h3>
    <p>Importées ou nées à la maison, vous pouvez découvrir leurs caractéristiques détaillées en cliquant sur l'image de
        chacune</p>
    <p>d'entre elles et découvrir : leurs origines, caractéristiques, pedigree.</p>
    <p>C'est un chat gentil et doux, qui s'adapte en appartement comme en maison. Attention aux sorties en extérieur,
        elles doivent</p>
    <p>être sécurisées ! Comme le British est un chat profondément gentil, il est très mal armé pour se défendre des
        dangers</p>
    <p>humains et animaux de l'extérieur.</p>
    <p>Une femelle British adulte fera entre 3 et 5 kg. Entretenir ce chat ne pose aucune difficulté particulière.</p>
    <p>Lien vers la rubrique entretien.</p>

</div>

<hr class="gray-line">

<br>
<br>
<br>