.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Définissez la largeur souhaitée pour le conteneur */


}

.image-container .image-grid {
    display: flex;
    align-items: center;

}

.image-container .image-grid>div {
    text-align: center;
    margin: 0 40px;
    /* Espace de 40 pixels à gauche et à droite des images */
}

.image-container .rounded-image {
    border-radius: 50%;
    width: 300px;
    /* Définissez la largeur souhaitée pour les images */
    height: 300px;
    /* Définissez la hauteur souhaitée pour les images */
    margin-top: 20px;
    transition: transform 0.3s ease;
    /* Ajoute une transition fluide */
}

.image-container .rounded-image:hover {
    transform: scale(1.1);
    /* Applique un effet d'échelle sur survol */
    cursor: pointer;
}

.name {
    font-size: 20px;
    margin: -5px;
    font-weight: 400;
    font-family: cursive;
    font-size: 20px;
    color: #233943;
}



.gray-line {
    border: 2px solid #454141;
    margin: 20px auto;
    /* Centre le trait horizontalement */
    /* margin-bottom: 30px; */
    width: 40%;
    /* Définir la largeur souhaitée */
}

.description {
    text-align: center;
    /* Centre horizontalement le texte */
    margin: 35px auto;
    /* Centre verticalement la description */
    width: 50%;
}

.description h3 {
    margin-bottom: 30px;
    color: rgb(41, 41, 41);
    font-family: corben,serif;
}

.description p {
    margin: -5px;
    text-align: left;
    /* Aligne le texte préformaté à gauche */
}