/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@fortawesome/fontawesome-free/css/all.css";

.custom-dialog-container .mat-dialog-container {
    padding: 10px 
  }
  


  

  /* .info-button {
    font-family: "Signika", sans-serif;
    background-color: #565451;
    color: #fff;
}

.info-button:hover {
    background-color: #666;
    transform: scale(1.05);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
} */
