<div class="container">
  <div class="header">
    <h1>Mes Chats</h1>
    <button mat-raised-button color="primary" (click)="navigateToNewCat()">Nouveau chat</button>
  </div>
  <mat-table [dataSource]="cats">

    <!-- Photo de profil -->
    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let cats">
        <img [src]="'http://localhost:3000/assets/catsProfil/' + cats.urlProfil" alt="Photo de profil" width="50">
      </mat-cell>

    </ng-container>

    <!-- Nom -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.name}} </mat-cell>
    </ng-container>

    <!-- Date de naissance -->
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef> Né(e) le </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.dateOfBirth}} </mat-cell>
    </ng-container>

    <!-- Sexe -->
    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef> Sexe </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.sex}} </mat-cell>
    </ng-container>

    <!-- Robe -->
    <ng-container matColumnDef="robe">
      <mat-header-cell *matHeaderCellDef> Robe </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.robe}} </mat-cell>
    </ng-container>

    <!-- Race -->
    <ng-container matColumnDef="breed">
      <mat-header-cell *matHeaderCellDef> Race </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.breed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="couleursYeux">
      <mat-header-cell *matHeaderCellDef> Couleurs des Yeux </mat-header-cell>
      <mat-cell *matCellDef="let cats"> {{cats.eyeColor}} </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let cats">
        <button mat-icon-button color="warn"
          (click)="deleteChat(cats.id,cats.images,cats.urlProfil,cats.urlProfilFather,cats.urlProfilMother)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editChat(cats)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>