<div class="card-container" *ngIf="dataUpdate">
    <!-- Card pour les mâles -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <textarea [(ngModel)]="dataUpdate.titleCard1" 
                    (ngModelChange)="onFieldChange(1, 'male', 'title')"
                    placeholder="Enter Male Description"
                    class="custom-textarea-title"></textarea>
            </mat-card-title>
        </mat-card-header>
        <img [src]="cards[0].profilImgs" alt="Male Image">
        <mat-card-content>
            <textarea [(ngModel)]="dataUpdate.maleDescription" 
                (ngModelChange)="onFieldChange(1, 'male', 'description')"
                placeholder="Enter Male Description"
                class="custom-textarea"></textarea>
        </mat-card-content>
        <mat-card-actions>
            <div class="add-image-container">
                <input type="file" #fileInput1 accept="image/*" (change)="onFileSelected1($event)"
                    style="display: none;" />
                <label class="add-image-button" (click)="fileInput1.click()">Modifier l'image</label>
            </div>
            <div class="save-button-container">
                <button class="save-button" (click)="uploadMaleImages()"
                    [ngClass]="{'disabled-button': !cards[0].hasChanges }">Sauvegarder les modifications</button>
            </div>
        </mat-card-actions>
    </mat-card>

    <!-- Card pour les chatons -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <textarea [(ngModel)]="dataUpdate.titleCard2" 
                    (ngModelChange)="onFieldChange(2, 'kitten', 'title')"
                    placeholder="Enter Kitten Description"
                    class="custom-textarea-title"></textarea>
            </mat-card-title>
        </mat-card-header>
        <img [src]="cards[1].profilImgs"alt="Kitten Image" class="image">
        <mat-card-content>
            <textarea [(ngModel)]="dataUpdate.kittenDescription" (ngModelChange)="onFieldChange(2, 'kitten', 'description')" placeholder="Enter Kitten Description"
                class="custom-textarea"></textarea>
        </mat-card-content>
        <mat-card-actions>
            <div class="add-image-container">
                <input type="file" #fileInput2 accept="image/*" (change)="onFileSelected2($event)"
                    style="display: none;" />
                <label class="add-image-button" (click)="fileInput2.click()">Modifier l'image</label>
            </div>
            <div class="save-button-container">
                <button class="save-button" (click)="uploadKittenImages()"
                    [ngClass]="{'disabled-button': !cards[1].hasChanges}">Sauvegarder les modifications</button>
            </div>
        </mat-card-actions>
    </mat-card>

    <!-- Card pour les femelles -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <textarea [(ngModel)]="dataUpdate.titleCard3" 
                    (ngModelChange)="onFieldChange(3, 'female', 'title')"
                    placeholder="Enter Female Description"
                    class="custom-textarea-title"></textarea>
            </mat-card-title>
        </mat-card-header>
        <img [src]="cards[2].profilImgs" alt="Female Image" class="image">
        <mat-card-content>
            <textarea [(ngModel)]="dataUpdate.femaleDescription" (ngModelChange)="onFieldChange(3, 'female', 'description')" placeholder="Enter Female Description"
                class="custom-textarea"></textarea>
        </mat-card-content>
        <mat-card-actions>
            <div class="add-image-container">
                <input type="file" #fileInput3 accept="image/*" (change)="onFileSelected3($event)"
                    style="display: none;" />
                <label class="add-image-button" (click)="fileInput3.click()">Modifier l'image</label>
            </div>
            <div class="save-button-container">
                <button class="save-button" (click)="uploadFemaleImages()"
                    [ngClass]="{'disabled-button': !cards[2].hasChanges}">Sauvegarder les modifications</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
