<h3 class="title">Nous avons des chatons disponible à la reservation !</h3>
<div class="box">
  <h3 class="name">Luna et Prosper</h3>
  <h2 class="description">3 chatons mâle et 2 femelle née le 29/04/2023 - poils shorthair - color bleu - reservation
    ouverte </h2>
</div>



<div class="container">
  <div class="photo">
    <img src="assets\LunaProfil.jpg" alt="Photo 1" class="image">
  </div>
  <div class="heart"></div>
  <div class="photo">
    <img src="assets\prosperProfil.jpg" alt="Photo 2" class="image">
  </div>

</div>
<div class="button-row">
  <button mat-raised-button color="primary" class="custom-button">Voir la portée</button>
  <button mat-raised-button color="primary" class="custom-button" (click)="redirigerVersConditions()">Conditions de
    vente</button>
  <button mat-raised-button color="primary" class="custom-button" (click)="faireDefilerVersBas()">Préparer son
    arrivée</button>
</div>


<div class="box">
  <h3 class="name">Eden et Prosper</h3>
  <h2 class="description">2 chatons mâle et 1 femelle née le 01/06/2023 - poils shorthair - color black silver shaded -
    reservation ouverte </h2>
</div>



<div class="container">
  <div class="photo">
    <img src="assets\EdenProfil.jpg" alt="Photo 1" class="image">
  </div>
  <div class="heart"></div>
  <div class="photo">
    <img src="assets\prosperProfil.jpg" alt="Photo 2" class="image">
  </div>
</div>

<div class="button-row">
  <button mat-raised-button color="primary" class="custom-button">Voir la portée</button>
  <button mat-raised-button color="primary" class="custom-button" (click)="redirigerVersConditions()">Conditions de
    vente</button>
  <button mat-raised-button color="primary" class="custom-button" >Préparer son
    arrivée</button>
</div>