<div class="carousel">
    <div class="carousel-slide" [class.active]="currentSlide === 0">
      <img src="assets/fripouille.jpg" alt="Image 1" class="carousel-image">
    </div>
    <div class="carousel-slide" [class.active]="currentSlide === 1">
      <img src="https://static.wixstatic.com/media/9a208d_670e0453db4d4ac98baf6a32d07eba82~mv2.jpg/v1/fill/w_2537,h_1008,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/9a208d_670e0453db4d4ac98baf6a32d07eba82~mv2.jpg" alt="Image 2" class="carousel-image">
    </div>
    <div class="carousel-slide" [class.active]="currentSlide === 2">
      <img src="https://static.wixstatic.com/media/9a208d_53d5211b70c8408f87a7ba4c93d19573~mv2.jpg/v1/fill/w_1200,h_477,al_c,q_85,enc_auto/9a208d_53d5211b70c8408f87a7ba4c93d19573~mv2.jpg" alt="Image 3" class="carousel-image">
    </div>
  
    <!-- <div class="carousel-navigation"> -->
      <button class="carousel-button-lef" (click)="prevSlide()">&#8249;</button>
      <button class="carousel-button-right" (click)="nextSlide()">&#8250;</button>
    <!-- </div> -->
  
    <div class="carousel-indicators">
      <span class="indicator" [class.active]="currentSlide === 0" (click)="goToSlide(0)"></span>
      <span class="indicator" [class.active]="currentSlide === 1" (click)="goToSlide(1)"></span>
      <span class="indicator" [class.active]="currentSlide === 2" (click)="goToSlide(2)"></span>
    </div>
  </div>
  

