
<div class="parent-container"><app-caroussel [bannerSection]="bannerSection"></app-caroussel>

<br><br><br>

<h4 class="text-center">Région Seine et Marne à Othis</h4>

<div class="card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{bannerSection?.titleCard1}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="url.apiUrlProfil+bannerSection?.maleImg" alt="Card 1 Image">
        <mat-card-content>{{bannerSection?.maleDescription}}
            <!-- <p></p> -->
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/males" mat-raised-button color="primary" class="info-button">+ d'infos</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{bannerSection?.titleCard2}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="url.apiUrlProfil+bannerSection?.kittenImg" alt="Card 2 Image">
        <mat-card-content>
            {{bannerSection?.kittenDescription}}
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/chatons" mat-raised-button color="primary" class="info-button">+ d'infos</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{bannerSection?.titleCard3}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="url.apiUrlProfil+bannerSection?.femaleImg" alt="Card 3 Image">
        <mat-card-content>
            {{bannerSection?.femaleDescription}}
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/femelles" mat-raised-button color="primary" class="info-button">+ d'infos</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>
<br>
<br>


<!-- <iframe src="https://couscousamdav.azurewebsites.net/" width="600" height="400"></iframe> -->